/* RESET */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100%;
}

img, picture, svg, video {
	display: block;
	max-width: 100%;
}

button, input, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

/* GENERAL */
:root {
	--color-primary: #9663EB;
	
	--color-netural-100: #D9D9D9;
	--color-netural-400: #BEB9C5;
	--color-netural-700: #373544;
	--color-netural-800: #1B1A1E;
	--color-netural-900: #111014;

	--ff-primary: 'Poppins', sans-serif;

	--spacing-1x: 1rem; 
	--spacing-3x: 3rem;
	--spacing-4x: 4rem;

	--border-radius: .25rem;
}

body {
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	font-family: var(--ff-primary);
	color: var(--color-netural-400);

	background-color: var(--color-netural-900);
}

/* SITE HEADER */
.site-header {
	margin-block: var(--spacing-4x) var(--spacing-3x);

	text-align: center;
}

.site-header__title {
	font-size: 3rem;
	color: var(--color-primary);
}

.site-header__title::first-letter {
	color: var(--color-netural-100);
}

/* MAIN */
main {
	margin-inline: auto;
	margin-bottom: var(--spacing-4x);
	padding-inline: var(--spacing-1x);
	max-width: 28rem;
}

.link-shortener-form {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-3x);
}

.link-shortener-form__label {
	display: block;
	margin-bottom: var(--spacing-1x);

	font-weight: bold;
}

.link-shortener-form__input {
	padding: .75rem 1rem;
	width: 100%;

	border: 0;
	border-radius: var(--border-radius);
	background-color: var(--color-netural-800);

	color: var(--color-netural-500);
}

.link-shortener-form__input::placeholder {
	color: var(--color-netural-400);
}

.link-shortener-form__input--right-rounded {
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.link-shortener-form__input-border {
	padding: 1px;

	border-radius: var(--border-radius);
	background-image: linear-gradient(98deg, var(--color-netural-700), var(--color-netural-900));
}

.link-shortener-form__input-wrapper {
	display: flex;
	align-items: center;

	border-radius: var(--border-radius);
	background-color: var(--color-netural-700);
}

.link-shortener-form__input-wrapper p {
	padding-inline: 1rem;
}

.link-shortener-form__button {
	padding-block: .75rem;

	border: 0;
	border-radius: var(--border-radius);
	background-color: var(--color-primary);

	font-weight: bold;
	color: var(--color-netural-900);
}

/* SITE FOOTER */
.site-footer {
	padding-block: var(--spacing-3x) var(--spacing-4x);

	border-top: 1px solid var(--color-netural-700);
	background-color: var(--color-netural-800);

	text-align: center;
}