/* RESET */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100%;
}

img, picture, svg, video {
	display: block;
	max-width: 100%;
}

button, input, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

/* GENERAL */
:root {
	--color-primary: hsl(263, 77%, 65%);
	--color-primary-o25: hsla(263, 77%, 65%, 0.251);

	--color-netural-100: hsl(0, 0%, 85%);
	--color-netural-400: hsl(265, 9%, 75%);
	--color-netural-400-10: hsl(265, 9%, 75%, .1);
	--color-netural-400-30: hsl(265, 9%, 75%, .3);
	--color-netural-600: hsl(247, 10%, 34%);
	--color-netural-700: hsl(248, 12%, 24%);
	--color-netural-800: hsl(255, 7%, 11%);
	--color-netural-900: hsl(255, 11%, 7%);
	--color-netural-900-90: hsla(255, 11%, 7%, 0.9);

	--color-red-400: hsl(15, 100%, 44%);
	--color-red-800-25: hsla(15, 100%, 18%, .25);

	--color-green-400: hsl(132, 80%, 61%);
	--color-green-600-50: hsla(132, 46%, 42%, .5);

	--ff-primary: 'Poppins', sans-serif;

	--spacing-1x: 1rem; 
	--spacing-2x: 2rem; 
	--spacing-3x: 3rem;
	--spacing-4x: 4rem;
	--spacing-6x: 6rem;
	--spacing-8x: 8rem;

	--border-radius: .25rem;
}

body {
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	font-family: var(--ff-primary);
	color: var(--color-netural-400);

	background-color: var(--color-netural-900);
}

button {
	cursor: pointer;
}

.icon {
	fill: var(--color-netural-400);
}

.icon--primary-stroke {
	stroke: var(--color-primary);
	fill: transparent;
}

.coming-soon {
	padding: 2px 4px;

	border-radius: var(--border-radius);
	background-color: var(--color-green-600-50);

	font-size: .75rem;
	color: var(--color-green-400);
}

.optional-label {
	font-size: .75rem;
}

/* SITE HEADER */
.site-header {
	margin-block: var(--spacing-4x) var(--spacing-3x);

	text-align: center;
}

.site-header__title {
	font-size: 3rem;
	color: var(--color-primary);
}

/* INDEX PAGE */
/* MAIN */
.old-main {
	margin-inline: auto;
	margin-bottom: var(--spacing-4x);
	padding-inline: var(--spacing-1x);
	max-width: max-content;
}

.index__flex {
	max-width: 54.75rem;

	margin-block: var(--spacing-4x) var(--spacing-8x);
	margin-inline: auto;

	padding-inline: 1rem;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: start;
	gap: var(--spacing-4x);
}

/* HERO SECTION */
.hero {
	max-width: clamp(350px, 10vw, 430px);

	display: grid;
	gap: var(--spacing-2x);
}

.introduction {
	display: grid;
	gap: var(--spacing-1x);
}

.introduction__logo {
	font-size: clamp(2rem,5vw ,4rem);
	color: var(--color-primary);
}

.introduction__description {
	font-size: clamp(1rem, 2vw, 1.5rem);
}

.features {
	display: grid;
	gap: var(--spacing-1x);
}

.features__title {
	font-size: 1.5rem;
	color: var(--color-primary);
}

.features__feature {
	display: flex;
	align-items: center;
	gap: 8px;

	font-weight: bold;
}

.features__feature p {
	width: 100%;

	display: flex;
	justify-content: space-between;
}

/* FORM */
.form {
	position: relative;
	max-width: clamp(350px, 40vw, 430px);

	padding: 1px;

	border-radius: var(--border-radius);
}

.form__content {
	position: relative;
	overflow: hidden;

	border-radius: var(--border-radius);
	background-color: var(--color-netural-800);
}

.form__content-wrapper {
	position: relative;

	height: 100%;

	padding: var(--spacing-2x);
	padding-bottom: var(--spacing-4x);

	display: flex;
	flex-direction: column;
	gap: var(--spacing-3x);

	border-radius: var(--border-radius);
	background-color: var(--color-netural-800);

	transition: transform 500ms cubic-bezier(.68,-0.55,.27,1.55);
}

.form__content-wrapper:nth-child(2),
.form__content-wrapper:nth-child(3) {
	margin: 1px;

	position: absolute;
	inset: 0;
}

.form__content-wrapper:nth-child(2) {
	transform: translateX(100%);
}

.form__content-wrapper:nth-child(3) {
	justify-content: center;
	transform: translate(0, 100%);
}

.form__content-header {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	gap: 8px;
}

.form__content:where([data-visible-page='2'], [data-visible-page='3']) .form__content-wrapper:nth-child(1) {
	transform: translateX(-100%);
}

.form__content[data-visible-page='2'] .form__content-wrapper:nth-child(2) {
	transform: translateX(0);
}

.form__content[data-visible-page='3'] .form__content-wrapper:nth-child(2) {
	transform: translateY(-100%);
}

.form__content[data-visible-page='3'] .form__content-wrapper:nth-child(3) {
	transform: translateY(0);
}

.form__content-wrapper--center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-border,
.input__content-border,
.submit-button__border {
	content: '';

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	border-radius: inherit;

	opacity: 0;
	transition: all 250ms;
}

.form-border {
	background: radial-gradient(200px circle at var(--highlight-X) var(--highlight-Y), var(--color-netural-400-30), transparent);
}

.input__content-border {
	background: radial-gradient(200px circle at var(--highlight-X) var(--highlight-Y), var(--color-primary), transparent 60%);
}

.submit-button__border {
	background: radial-gradient(200px circle at var(--highlight-X) var(--highlight-Y), var(--color-primary), transparent 60%);
}

.form:hover .form-border,
.form:hover .input__content-border ,
.submit-button:hover .submit-button__border {
	opacity: 1;
}

.input__label {
	position: relative;
	z-index: 1;
	margin-bottom: var(--spacing-1x);

	display: flex;
	align-items: center;
	gap: 8px;

	font-weight: bold;
}

.form__back-button {
	margin-left: calc(-1 * var(--spacing-1x));
	padding: var(--spacing-1x);
	
	border: none;
	background-color: transparent;
}

.form__back-button:where(:hover, :focus) .icon {
	fill: var(--color-primary);
}

.form-error {
	margin-top: var(--spacing-1x);
	padding: 4px 1rem;

	display: none;
	align-items: center;
	gap: 8px;

	border-radius: var(--border-radius);
	background-color: var(--color-red-800-25);

	font-size: .875rem;
	color: var(--color-red-400);
}

.input__content-input,
.input__content-input-url,
.submit-button__content {
	position: relative;
	z-index: 1;
}

.input__content-input {
	padding: .75rem 1rem;
	width: 100%;

	border: 0;
	border-radius: var(--border-radius);
	background-color: var(--color-netural-800);

	color: var(--color-netural-500);
}

.input__content-input:focus {
	outline: none;
}

.input__content-input::placeholder {
	color: var(--color-netural-400);
}

.input__content-wrapper {
	position: relative;

	padding: 1px;

	border-radius: var(--border-radius);

	transition: background-color 1500ms ease;
}

.input__content-wrapper:focus-within {
	background-color: var(--color-primary);
}

.input__content-wrapper--identifier {
	display: flex;
	align-items: stretch;
}

.input__content-wrapper--identifier > .input__content-input-url {
	border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.input__content-wrapper--identifier > .input__content-input {
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.input__content-input-url {
	padding-left: var(--spacing-1x);

	display: flex;
	align-items: center;
	background-color: var(--color-netural-800);
}

.submit-button {
	position: relative;

	padding: 1px;
	border-radius: var(--border-radius);
	background-color: var(--color-primary);
}

.submit-button:where(:hover, :focus, [data-state='loading']) {
	background-color: transparent;
}

.submit-button__content {
	width: 100%;

	padding-block: .75rem;

	border: none;
	border-radius: var(--border-radius);
	background-color: var(--color-primary);

	font-weight: bold;
	color: var(--color-netural-900);

	transition: all 150ms ease;
}

.submit-button__content[data-state='default'] .submit-button__content-default-state,
.submit-button__content-loading-state {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.submit-button__content-default-state {
	transition: all 150ms ease;
}

.submit-button__content-loading-state {
	padding-block: 4px;
}

.loading {
	animation: rotate 1s infinite ease;
}

@keyframes rotate {
	0% { transform: rotate(-45deg); }
	100% { transform: rotate(315deg); }
}

.submit-button__content[data-state='loading'] .submit-button__content-default-state,
.submit-button__content[data-state='default'] .submit-button__content-loading-state {
	display: none;
}

.submit-button__content-icon {
	fill: var(--color-netural-900);
	transition: all 150ms ease;
}

.submit-button__content:where(:hover, :focus, [data-state='loading']) {
	outline: none;
	background-color: var(--color-netural-800);

	color: var(--color-primary);
}

.submit-button__content:is(:hover, :focus) .submit-button__content-default-state {
	gap: 1rem;
}

.submit-button__content:where(:hover, :focus, [data-state='loading']) .submit-button__content-icon {
	fill: var(--color-primary);
}

.recaptcha__prompt {
	font-size: 1rem;
	text-align: center;
}

.general-error-container {
	position: absolute;
	top: -4rem;
	left: 0;
	right: 0;

	padding-block: var(--spacing-1x);

	border-bottom: 1px solid var(--color-red-400);
	background-color: var(--color-red-800-25);

	text-align: center;
	font-size: .875rem;
	color: var(--color-red-400);

	transition: all 150ms ease;
}

.general-error-container--show {
	top: 0;
}

/* SUCCESS PAGE */
/* MAIN */
.success-article {
	padding: var(--spacing-2x);

	width: max-content;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-2x);

	border-radius: var(--border-radius);
	background-color: var(--color-netural-800);
}

.success-article__header {
	margin-bottom: var(--spacing-2x);

	display: flex;
	flex-direction: column;
	gap: 8px;
}

.success-article__title {
	font-size: 1.5rem;
}

.success-article__qr-code {
	width: 200px;
	height: 200px;

	border-radius: var(--border-radius);
}

.shortened-url-block {
	margin-top: var(--spacing-2x);
	align-self: stretch;

	display: flex;
	justify-content: space-between;
	gap: var(--spacing-1x);
}

.shortened-url {
	width: 100%;
	padding-inline: 14px 13px;
	padding-top: 1rem;
	
	border-radius: var(--border-radius);
	background-color: var(--color-netural-700);

	overflow: hidden;
}

.shortened-url__wrapper {
	height: 100%;
	overflow-y: auto;
}

.shortened-url__text {
	width: max-content;
	font-size: .875rem;
	color: var(--color-netural-100);
}

.copy-url-button {
	min-width: fit-content;

	padding-inline: 1rem;
	padding-block: .75rem;

	position: relative;
	
	border: 1px solid var(--color-primary);
	border-radius: var(--border-radius);
	background-color: var(--color-primary);

	box-shadow: 0 .25rem .5rem var(--color-primary-o25);

	font-weight: bold;
	color: var(--color-netural-900);

	overflow: hidden;
	transition: all 150ms ease;
}

.copy-url-button__default-state,
.copy-url-button__active-state {
	display: flex;
	align-items: center;
	gap: 8px;

	transition: transform 250ms ease;
}

.copy-url-button__active-state {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	justify-content: center;

	transform: translateY(200%);
}

.copy-url-button[data-state='active'] .copy-url-button__default-state {
	transform: translateY(-200%);
}

.copy-url-button[data-state='active'] .copy-url-button__active-state {
	transform: translateY(50%);
}

.copy-url-button__icon {
	fill: var(--color-netural-900);
	transition: all 150ms ease;
}

.copy-url-button:where(:hover, :focus, [data-state='active']) {
	outline: none;
	border: 1px solid var(--color-primary);
	background-color: transparent;

	color: var(--color-primary);
}

.copy-url-button:where(:hover, :focus, [data-state='active']) .copy-url-button__icon {
	fill: var(--color-primary);
}

.go-back-button {
	width: 100%;
	padding-block: .75rem;

	border: 1px solid var(--color-netural-700);
	border-radius: var(--border-radius);
	background-color: var(--color-netural-700);

	box-shadow: 0 .25rem .5rem var(--color-netural-800);

	font-weight: bold;
	color: var(--color-netural-400);

	transition: all 150ms ease;
}

.go-back-button:where(:hover, :focus) {
	outline: none;
	border: 1px solid var(--color-netural-100);
	background-color: transparent;
}

/* REDIRECT PAGE */
.redirect {
	padding-top: var(--spacing-4x);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-2x);
}

/* SITE FOOTER */
.site-footer {
	padding-block: var(--spacing-3x) var(--spacing-4x);

	border-top: 1px solid var(--color-netural-700);
	background-color: var(--color-netural-800);

	text-align: center;
}

.site-footer__content {
	margin-inline: auto;

	width: fit-content;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: var(--spacing-1x);
}

.site-footer__row {
	display: flex;
	gap: var(--spacing-2x);
}

.site-footer__logo {
	font-size: 2rem;
	color: var(--color-primary);
}

.attribution-text {
	font-style: normal;
}

.attribution-link {
	font-weight: 700;
	color: var(--color-primary);
}

.social-wrapper {
	display: flex;
	gap: var(--spacing-1x);
}

.social-button {
	fill: var(--color-netural-400);
	cursor: pointer;
}

.social-button:where(:hover, :focus) {
	fill: var(--color-primary);
}

@media (max-width: 49.75rem) {
	.introduction,
	.features__title {
		text-align: center;
	}

	.form-border,
	.input__content-border,
	.submit-button__border {
		opacity: 1;
	}

	.form-border {
		--highlight-X: 0px;
		--highlight-Y: 0px;
	}

	.form .form__content-wrapper div:nth-child(1) .input__content-wrapper .input__content-border {
		--highlight-X: 0px;
		--highlight-Y: -48px;
	}

	.form .form__content-wrapper div:nth-child(2) .input__content-wrapper .input__content-border {
		--highlight-X: 200px;
		--highlight-Y: 98px;
	}
}